#click{
    background-color: green;
}

#A li{
    color: red;
}

#B li{
    color: blue;
}

form{
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: right;
    gap: 5px;
}

#contenedor1{
    background-color: red;
}

#contenedor2{
    background-color: green;
}

#contenedor3{
    background-color: yellow;
}

label{
    font-weight: bold;
}

#button{
    background-color: blue;
    color: white;
    border: 1px dotted black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#button:hover{
    background-color: lightseagreen; /* da efecto al acercar el mouse al boton */
    font-size: 14px;
    color: orang;
}

.btn{
    background-color: blue;
    color: white;
    border: 1px dotted black;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer; /*Coloca la mano al poner la flecha del mouse encima*/
}

.fondoGris{
    background-color: gray;
}

.fondoNegro{
    background-color: black;
}

.texto1{
    margin: 0;
    padding: 2px;
    color: rgb(7, 59, 33);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.lista1{
    margin: 0 70px;
}

